.DS_Store
node_modules
coverage
build
.svelte-kit
ontologies
/package
.env
.env.*
.env.example
.mypy_cache
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
.mypy_cache
frontend/src/lib/assets/ontologies
