/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	scroll-padding-top: 13em;
}

@layer components{
    .pagination-btn{
        @apply btn btn-xs md:btn-md border border-gray-300 bg-white hover:bg-gray-100 text-gray-500 hover:border-gray-300 no-animation
    }
}
